@model Size

@{
    ViewData["Title"] = "Create";
}

<form method="post">
    <label>Size Name:</label> <br/>
    <input asp-for="Name" class = "mt-2 form-control" type = "text">
    <div>
        <button style = "color:white" class = "mt-3 btn btn-primary">Submit</button>
    </div>
    
</form>

 