@model Size
@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <h3>Id</h3>
        <p>@Model.Id</p>
    </div>
     <div>
        <h3>Name</h3>
        <p>@Model.Name</p>
    </div>
</div>

