@model Category
@{
    ViewData["Title"] = "Create";
}
<form method = "post">
    <label>Category name:</label> <br/>
    <input asp-for="Name" class = "mt-2 form-control">

    <div>
        <button style = "color: white" class = "btn btn-primary">Submit</button>
    </div>
</form>


